/.bundle
/.ruby-lsp
/log/*
/tmp/*
/storage/*
/node_modules
/coverage
/public/assets
/public/packs
/public/packs-test
/config/master.key
/db/*.sqlite3
/db/*.sqlite3-*
/storage/*.sqlite3
/storage/*.sqlite3-*
!/log/.keep
!/tmp/.keep
!/storage/.keep
